@charset "utf-8";

//Global

@import "base/variables.scss";

//Config variables
@import "base/colors.scss";

//All available fonts in the application
@import "base/fonts.scss";

//Flexbox mixins
@import "base/flex.scss";

//Misc CSS that apply to all containers / components
@import "base/common.scss";

//Grid system
@import "base/grid.scss";

//Padding Margin utils
@import "base/padding-margins.scss";

//Custom CSS related to a single page
@import "containers/dashboard.scss";
// @import "containers/profile.scss";
body{
  background-color: $gray-lighter;
}
.cont_welcome{
  background-color: white;
  h4,a{
    font-family: $default-font-family;

  }
  label{
    color: $black-darker;
  }
  .in_lab{
    background-color: #F7F7F7 !important;
    border: 1px solid #9e9e9e !important;
    font-family: $default-font-family;
    font-size: 1.2rem !important;
    &::placeholder{
      font-family: $default-font-family;
    }
    &:focus{
      // border: 1px solid #9e9e9e !important;
      box-shadow: none !important;
    }
  }
}
.cont_timer{
  background-color: $gray-lighter;
  div.cont_clock{
    background-color: white;
    text-align: center;
    padding: 5%;
    .enlace{
      margin: 5%;
    }
  }
}
.verde{
  background-color: $green;
}
header {
   background-color: white;
}
.negrita{
    font-weight: 700;
}
.cont_asist{
  div.radio-check{
    height: 130px;
    border-radius: 50%;
    background-color: #E1E1E1;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
      color:$green;
    }
  }
}
div.cont_btn{
  margin: 10%;

}
